{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}D-POLL{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block styleUrl %}{% endblock styleUrl %}

<header class="topbar">
    {% block header %}
        <div class="menu-icon" id="menu-icon" >☰</div>
        <div class="logo">{% block logo_title %}D-POLL{% endblock logo_title %}</div>
        <div class="profile-icon">
            {% for user in userprofile %}
            <img src="{{ user.profile_photo }}" alt="User Profile" onerror="this.src='{% static 'images/profile-placeholder.png' %}'">
            {% comment %} <img src="{% static 'images/1.png' %}" alt="Profile" id="userImage"> {% endcomment %}
            <div class="userprofile hidden" id="userDetails">
                <p><strong>Unique ID:</strong> {{ user.unique_id }}</p>
                <p><strong>Voting Status:</strong> {{ user.voting_status }}</p>
                <p><strong>Eligibility:</strong> {{ user.eligibility }}</p>
            </div>
            {% endfor %}
        </div>
    {% endblock header %}
</header>

<div id="sidebar" class="sidebar">
    <ul>
        <li data-link="{% url 'voters_list' %}">Voters List</li>
        <li data-link="{% url 'candidates_list' %}">Candidates List</li>
        <li data-link="{% url 'cast_vote' %}">Cast Vote</li>
        <li data-link="{% url 'results' %}">Results</li>
        <li data-link="{% url 'logout' %}">Logout</li>
    </ul>
</div>

<div class="main-content">
    {% block content %}
    {% endblock content %}
</div>



<footer>
    {% block footer %}
    <p>&copy; 2025 D-POLL. All rights reserved.</p>
    {% endblock footer %}
</footer>
<script defer src="{% static 'js/base.js' %}"></script>
{% block script %}
{% endblock script %}
{% comment %} </body>
</html> {% endcomment %}