{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Voters List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/voterslist.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="hamburger">&#9776;</div>
    <div class="logo">D-POLL</div>
    <div class="profile-info">
    </div>
  </div>

  <!-- Main Section -->
  <div class="main">
    <h1>Voters List</h1>
    <p>List of voters in the system</p>
    <input type="text" placeholder="Search Voter" class="search-box">

    <div class="table">
      <div class="table-header">
        <div>Photo</div>
        <div>Unique Id</div>
        <div>Name</div>
      </div>
      {% for voter in voters %}
      <div class="table-row">
        <div><div class="photo"></div></div>
        <div class="uid">{{ voter.unique_id }}</div>
        <div class="name">{{ voter.full_name }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="{% static 'js/voterslist.js' %}"></script>
</body>
</html>
