body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: left;
}

.container {
    max-width: 400px;
    
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    flex-wrap: wrap;
}



label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

small {
    display: block;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3367D6;
}
.header {
    background-color: #4A90E2;
    padding: 10px;
    text-align: left;
}
.header h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}
